<div class="span-20">
  <%# Article %>
  <div class="post latest">
    <h2><a href="<%= article.path %>"><%= article.title %></a></h2>

    <div class="meta">
      <div class="date"><em>posted:</em> <%= article.date %></div>
    </div>

    <div class="content">
      <%= article.body %>
    </div>

  </div>
</div>
