body {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-size: 14px;
}

a {
  color: #000;
}

a:visited {
  color: #333;
}

ul {
  list-style-position: inside;
}

.header {
  height: 341px;
  width: 800px;
  background: url("/images/branch.png");
  text-indent: -9999px;
  margin-left: auto;
  margin-right: auto;
}

/* Stolen from blueprint's fancy-type */
.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 110%;
}

.header-quote {
  display: block;
  font-size: 120%;
  line-height: 140%;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.fancy {
  font-size: 130%;
}

.no-margin {
  margin: 0;
}

.nav {
  display: block;
  height: 1.4em;
  list-style: none;
  margin: 0 auto;
  padding: 0.8em 0;
  width: 600px;
}

.nav li {
  float: left; padding-right: 20px;
}

.nav li a {
  color: #000;
}

.nav li a.current {
  font-weight: bold;
}

/* Blog Styles */
.meta {
  margin-bottom: 1em;
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 100%;
  line-height: 1em;
  text-transform: lowercase;
}

.meta em {
  font-size: 110%;
}

.posts {
  margin-bottom: 1.5em;
}

.post {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0;
}

h2 a {
  text-decoration: none;
}

.buttons, .buttons .tweet, .buttons .like{
  display: inline;
  float: right;
}

img.framed {
  border: 1px solid black;
  margin: 0.75em;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.powered-by {
  color: #ddd;
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.powered-by a {
  color: #eee;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

