a {
  color: #000;
}

a:visited {
  color: #333;
}

.header {
  height: 268px;
  width: 790px;
  background: url("/images/ring.jpg");
  text-indent: -9999px;
  margin-left: auto;
  margin-right: auto;
}

.itscoming {
  text-align: center;
  color: #ddd;
  font-size: 130%;
}

/* Stolen from blueprint's fancy-type */
.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 110%;
}

.header-quote {
  font-size: 120%;
  line-height: 140%;
}

.specialization {
  font-size: 130%;
}

.no-margin {
  margin: 0;
}

.nav {
  display: block;
  height: 1.4em;
  list-style: none;
  margin: 0;
  padding-bottom: 0.8em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.8em;
}

.nav li {
  float: left;
  padding-right: 20px;
}

.nav li a {
  text-decoration: none;
  color: #000;
}

.nav li a.current {
  font-weight: bold;
}

/* Icons */
.blog {
  padding: 2px 0px 2px 20px;
  background: transparent url(/images/icons/rss_16.png) no-repeat center left;
}

.github {
  padding: 2px 0px 2px 22px;
  background: transparent url(/images/icons/octocat_22.png) no-repeat center left;
}

.flickr {
  padding: 2px 0px 2px 20px;
  background: transparent url(/images/icons/flickr_16.png) no-repeat center left;
}

.email {
  padding: 2px 0px 2px 20px;
  background: transparent url(/images/icons/email_16.png) no-repeat center left;
}

.linkedin {
  padding: 2px 0px 2px 20px;
  background: transparent url(/images/icons/linkedin_16.png) no-repeat center left;
}

/* Blog Styles */
.meta {
  margin-bottom: 1em;
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 100%;
  line-height: 1em;
  text-transform: lowercase;
}

.meta em {
  font-size: 110%;
}

.posts {
  margin-bottom: 1.5em;
}

.post {
  margin-bottom: 1em;
}

.post h2 {
  margin-bottom: 0;
}

.post h2 a {
  text-decoration: none;
}

.sidebar ul.recent-posts {
  list-style-type: none;
  padding-left: 0.5em;
  margin: 0;
  font-size: 90%;
}

.sidebar ul.recent-posts li {
  margin-bottom: 0.5em;
}

.buttons, .buttons .tweet, .buttons .like{
  display: inline;
  float: right;
}

.content img {
  border: 1px solid black;
}

.powered-by {
  color: #ddd;
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.powered-by a {
  color: #ddd;
}
