<!doctype html>
<html>
  <head>
    <%# Blueprint %>
    <link rel="stylesheet" type="text/css" href="/css/blueprint/screen.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/css/blueprint/print.css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/styleee.css" media="screen, projection" />
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/feed/" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>
      <% if @path == 'index' || @path == 'home' %>
        wait-metcalf.com
      <% elsif @path.split('/').compact.length == 4 %>
        <%= title %> - wait-metcalf.com
      <% else %>
        <%= @path.capitalize.gsub(/[-]/, ' ') %> - wait-metcalf.com
      <% end %>
    </title>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-209877-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body class="<%= @path.gsub(/\//, '_') %>">
    <div class="container">
      <hr class="space">

      <%# Content %>
      <div class="span-20 prepend-2">
        <h1 class="header">Chris Metcalf</h1>

        <p class="alt header-quote"><span class="fancy">love</span> is the condition in which the happiness of another person is essential to your own.</p>

        <%# Main Nav %>
        <hr class="no-margin">

        <ul class="nav">
          <li><a class="current" href="/">home</a></li>
          <li><a class="couple" href="/the-couple/">the lucky couple</a></li>
          <li><a class="subscribe" href="/sign-up">keep up to date</a></li>
        </ul>

        <hr>

        <%= yield %>

        <hr class="space" />

        <p class="powered-by"><a href="http://github.com/chrismetcalf/wait-metcalf.com">fork me</a> on github</p>
      </div>
    </div>
  </body>
</html>

